ul {
  color: rgb(255, 255, 255);
}

.profile_card {
  border: solid;
  width: 300px;
  border-radius: 10px;
}

.profile_main {
  display: flex;
  border: solid;
  width: 300px;
  height: 590px;
  border-radius: 10px;

}
