ul {
  color: rgb(255, 255, 255);
}

.profile_main {
    display: flex;
}

.profile_one {
  border-radius: 20px;
  box-shadow: 0 10px 6px -6px #777;
}

.profile_one_img {
  max-width: 375px;
  max-height: 100%;
}

.profile_info__list {
  background-color: red;
  width: 200px;
  align-items: center;
}

.profile_two {
    border-radius: 20px;
    box-shadow: 0 10px 6px -12px rgb(0, 0, 0);
  }