ul.one_info {
   padding:10px
}

.one_info {
   background-color: rgba(226, 216, 216, 0.64);
   color: black;
   list-style-type: none;
   border-radius: 10px;
   box-shadow: -5px 5px 2px 1px rgba(0, 0, 0, 0.2);
   width: 200px;
}


.profile_img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  box-shadow: -5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

